body > div {
	font-family: sans-serif;
}

.info-block {
	margin: 0 auto;
	background-color: black;
	color: LimeGreen;
	border: 2px outset gray;
}
.info-block.current, .info-block.season {
	overflow: scroll;
	white-space: nowrap;
}
.info-block.current {
	width: 85%;
	height: 50vh;
}

#download-box {
	display: flex;
	margin: 0 auto;
	align-items:center;
	flex-direction: column;
}
#download-box a {
	visibility: hidden;
}

.info-block.season {
	width: min(90%, 600px);
}

.disclaimer {
	width: 85%;
	margin: 0 auto;
	font-size: 0.9em;
	font-style: italic;
	margin-bottom: 1em;
	color: lightgray;
}

[id$="switch"] {
	display: flex;
	align-items: middle;
	justify-content: center;
	text-align: center;
	margin: 1em;
}
[id$="switch"] label {
	margin: 0 1em;
}

[id$="switch"] input {
	transform: scale(2) translateX(-0.1em);
	border-radius: 0px;
}