body {
	background-color: #141414;
	color: white;
}
body > div {
	font-family: sans-serif;
}

.info-block {
	margin: 0 auto;
	background-color: black;
	color: LimeGreen;
	border: 2px outset gray;
}
.info-block.current {
	overflow: scroll;
	white-space: nowrap;
	width: 85%;
	height: 50vh;
}
.info-block.season {
	overflow: scroll;
	white-space: nowrap;
	width: min(90%, 600px);
}

.disclaimer {
	width: 85%;
	margin: 0 auto;
	font-size: 0.9em;
	font-style: italic;
	margin-bottom: 10px;
	color: lightgray;
}

.disclaimer p {
	text-align: center;
}

#year-switch {
	text-align: center;
	margin: 1em;
}
#year-switch label {
	margin: 0 1em;
}

#year-switch input {
	transform: scale(2) translateX(-0.1em);
	border-radius: 0px;
}
