#calculator {
	background-color:black;
	border: 5px solid rgb(60, 60, 120);
}
#display {
	color:black;
	background-color: lightgreen;
	border: 6px inset white;
}
td, .KUP {
	border-radius: 10px;
	border-style: 3px outset;
	text-indent: 0px;
}
.KDOWN {
	border-style: inset;
	text-indent: 2px;
}
table {
	color: DarkSlateGray;
	font-weight: bold;
}
table#numcontainer {font-weight: bold;}
td.number, td.operator.dot {background-color: LightGray;}

/* Buttons */
#calculator button {
	color: DarkSlateGray;
	border-color: white;
	border-radius: 0.3em 0.3em;
	font-size: 1.8em;
	font-weight: bold;
}

/* Operators */
#opcontainer {
}
.operator.clear {background-color: pink;}
.operator.math {background-color: LightSlateGrey;}

#bequals {
	background-color: DarkOliveGreen;
	color: lightgray !important;
}
#bsign {
	background-color: #AFEEEE;
}













