#calculator {
	background: 

		repeating-radial-gradient(circle at 50% 50%, skyblue 0%,skyblue 4%,white 4.1%, white 8.1%) 50% 50% no-repeat,
		repeating-radial-gradient(circle at 50% 50%, skyblue 0%,skyblue 4%,white 4.1%, white 8.1%) 50% 0% no-repeat,
		linear-gradient(black,black);
	background-size: 100% 50%, 100% 50%, 100% 100%;
	border: 2px solid white;
}

#display {
	color: white;
	background-color: rgba(255,255,255,0.45);
	border: 6px inset white;
}
td {
	border: 2px outset white;
	color: black;
	border-radius: 30%;
}
td:active, .KDOWN {
	text-indent: 2px;
	border: 2px inset white;
}
table {font-weight: bold;}
td.number, td.operator.dot {
}
td.number:active, td.operator.dot:active {}
table#opcontainer {}
td.operator.clear {}
td.operator.clear:active {}
td.operator.math {}
td.operator.math#bplus {}
td.operator.math#bminus {}
td.operator.math#btimes {}
td.operator.math#bdivide {}
td.operator.math:active {}
table#opextra {}
td.operator.equals {}
td.operator.equals:active {}
td.operator.plusminus {}
td.operator.plusminus:active {}

.calcCASING {
position: relative;
background: radial-gradient(140% 80% at bottom -4% left 10%,rgba(5, 10, 10,1) 24.5%,rgba(255,255,255,0) 25%), /*Mountain*/
		radial-gradient(110% 90% at bottom -6% left 35%,rgba(5, 10, 10,1) 24.5%,rgba(255,255,255,0) 25%), /*Mountain*/
		radial-gradient(160% 80% at bottom 0% left 70%,rgba(5, 10, 10,1) 24.5%,rgba(255,255,255,0) 25%), /*Mountain*/
		radial-gradient(160% 80% at bottom -2% left 110%,rgba(5, 10, 10,1) 24.5%,rgba(255,255,255,0) 25%), /*Mountain*/
		linear-gradient(#000033 7%,MidnightBlue 25%,#99ddff 50%,Orange 70%,OrangeRed 80%); /*SKY*/
height: 500px;
width: 400px;
/*border: 2px solid white;*/
border-radius: 8%;
box-shadow: 0px 0px 30px black;
font-family:arial;
display: inline-block;
}

.calcDISPLAY {
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 12%;
height: 15%;
width: 90%;
color: rgba(240, 240, 255, 1);
margin-left: auto;
margin-right: auto;
background-color: rgba(255,255,255,0.15);
border: 6px inset white;
border-radius:10%;
display: inline-block;
}

.calcDISPLAYFONT {
font-size: 46px;
font-weight: bold;
display: inline-block;
}

.calcNUMBERBUTTON {
position: absolute;
color: rgba(0, 0, 30, .85);
border-radius:10%;
height:13%;
width:20%;
text-align: center;
font-weight: bold;
font-size: 45px;
background: radial-gradient(circle,rgba(255,255,255,.4) 10%,rgba(255,255,255,0) 80%);
/*background: linear-gradient(rgba(255,255,255,0) 50%,rgba(255, 153, 0,.4));*/
display: inline-block;
transform:translate(-50%,-50%);
outline: none;
}

.calcOPBUTTON {
position: absolute;
height: 10%;
width: 20%;
border-radius:10%;
background: linear-gradient(rgba(0,0,0,0) 50%,rgba(50, 50, 255,.4));
color: rgba(245, 245, 255, .95);
text-shadow: 0px 0px 8px black;
text-align: center;
font-weight: bold;
font-size: 45px;
transform: translate(-50%,-50%);
display: inline-block;
outline: none;
}

.calcCLRBUTTON {
position: absolute;
height: 10%;
width: 20%;
border-radius:10%;
background: linear-gradient(rgba(0,0,0,0) 50%,rgba(255, 0, 0,.4));
color: rgba(245, 245, 255, .95);
text-shadow: 0px 0px 8px black;
font-size:32px;
font-weight: bold;
transform: translate(-50%,-50%);
display: inline-block;
outline: none;
}

.calcEQLBUTTON {
position: absolute;
height:22%;
width:20%;
border-radius:10%;
background: linear-gradient(rgba(0,0,0,0) 82%,rgba(0, 255, 0,.4));
color: rgba(245, 245, 255, .95);
text-align: center;
font-weight: bold;
font-size: 45px;
display: inline-block;
transform:translate(-50%,-50%);
outline: none;
}

.calcSPECBUTTON {
position: absolute;
background: linear-gradient(rgba(0,0,0,.5) 50%,rgba(255, 255, 255,.4));
color: rgba(245, 245, 255, .95);
height: 10%;
width: 20%;
border-radius:10%;
text-align: center;
font-weight: bold;
font-size: 32px;
display: inline-block;
transform:translate(-50%,-50%);
outline: none;
}