#calculator {
	background: repeating-linear-gradient(
			to bottom right, rgba(255,255,255,30%) 0%, rgba(255,255,255,30%) 1%, transparent 1.1%, transparent 5.1%
		),
		repeating-linear-gradient(
			to top right, transparent 0%, transparent 12.3%, white 12.4%, white 14.4%
		),
		linear-gradient(
			to top right,
			red 0%, red 14%,
			orange 14.1%, orange 28.1%,
			yellow 28.2%, yellow 42.2%,
			green 42.3%, green 56.3%,
			blue 56.4%, blue 70.4%,
			indigo 70.5%, indigo 84.5%,
			violet 85.5%
		);
	border: 1.7vmin solid rgb(0,0,25);
}

#display {
	color: rgb(0,0,40);
	background-color: rgba(255,255,255,0.65);
	border: 1.2vmin inset white;
}
#signature {
	text-shadow: 
		-3px 0px 2px black,
		0px -3px 2px black,
		3px 0px 2px black,
		0px 3px 2px black;
}
#calculator button {
	border-color: white;
	border-width: 1vmin;
	border-radius: 2vmin;
	font-weight: bold;
}
button:active, .KDOWN {
	text-indent: 2px;
	border-style: inset;
}
#numcontainer button {
	color: white;
	background-color: rgb(20,20,20);
}
.operator.clear {
	color: red;
	background-color: rgb(100%, 90%, 30%);
}
.operator.math {
	background-color: lightblue;	
}
#bplus {color: rgb(100%, 60%, 0%);}
#bminus {color: indigo;}
#btimes {color: green;}
#bdivide {
	color: blue;
}
#bequals {
	color: black;
	background-color: rgb(50%, 100%, 50%);
}
#bsign {
	background-color: violet;
	color: navy;
}








