.theme {font-size: 1.5em;}

/* landscape*/
@media (orientation: landscape) {
	#calculator {
		aspect-ratio: 4 / 5;
		height: 90vh;
	}
	#signature {
		font-size: 2vmin;
	}
}

/* Portrait (phones and tablets, essentially)*/
@media (orientation: portrait) {
	#calculator {
		aspect-ratio: 4 / 5;
		width: 90vw;
	}
	#signature {
		font-size: 2.8vmin;
	}
}
/* Portrait Phones themes */
@media (orientation: portrait)
		and (max-width: 499px) {
	.theme {font-size: 0.8em;}
}

#calculator {
	position: relative;
	user-select: none;
	outline: none;
	margin: 0 auto;
	box-shadow: 0px 0px 6vmin black;
	font-family: sans-serif;
	border-radius: 4vmin;
}

#calculator button {
	outline: none;
	line-height: 0;
	font-size: 6vmin;
}

#display {
	position: relative;
	margin: 0 auto;
	margin-top: 4%;
	height: 15%;
	width: 90%;
	text-align: right;
	border-radius: 2.5vmin;
}

#output {
	position: absolute;
	user-select: text;
	top: 60%;
	right: 0%;
	transform: translate(0,-50%);
	padding-right: 1.1vmin;
	font-size: 10vmin;
	font-weight: bold;
}
#smoutput {
	position: absolute;
	top: 15%;
	right: 0%;
	transform: translate(0,-50%);
	padding-right: 1.1vmin;
	font-size: 2vmin;
}

/* Numbers */
#numcontainer {
	position: absolute;
	top: 22.5%;
	left: 2%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 73%;
	height: 65%;
}
#numcontainer button {
	width: 28%;
	margin: 0.5vmin;
	flex-grow: 1;
}
#bequals {
	position: absolute;
	left: 52%;
	bottom: 1%;
	width: 22%;
	height: 27%;
}
#bsign {
	position: absolute;
	right: 50.5%;
	bottom: 1%;
	width: 22%;
	height: 11%;
}

/* Operators */
#opcontainer {
	position: absolute;
	top: 22%;
	right: 0%;
	display: flex;
	flex-direction: column;
	width: 26%;
	height: 77%;
}
.operator {
	width: 80%;
	flex-grow: 1;
	margin: 0.5vmin auto;
	font-weight: bold;
}

#signature {
	position: absolute;
	bottom: 0;
	left: 1.8%;
	color: white;
	font-style: italic;
	text-align: center;
	height: 12%;
	width: 25%;
}

/* Theme Related */
#themeselect {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 85%;
	margin: 1em auto;
}
.theme {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	margin: 0.2em;
	height: 2em;
	color: white;
	outline: 2px solid black;
	user-select: none;
	text-shadow:
		-2px 0px 6px black,
		-2px -2px 6px black,
		0px 2px 6px black,
		2px 2px 6px black;
}

.theme.normal {
	background: linear-gradient(
		45deg, black, black 35%, gray 36%, gray 56%, pink 57%, pink 67%,
		lightslategray 68%, lightslategray 88%, darkolivegreen 89%
	);
}
.theme.neon {
	background: linear-gradient(
		45deg, black, black 10%, crimson 10.1%, crimson 19.9%, black 20%,
		black 25.9%, orange 26%, orange 41%, black 42%, black 47%, magenta 48%,
		magenta 58%, black 59%, black 64%, dodgerblue 65%, dodgerblue 75%,
		black 76%, black 81%, yellow 82%, yellow 88%, black 89%, black 93%,
		lime 94%
	);
}
.theme.spring {
	background: linear-gradient(
		to top, forestgreen, forestgreen 20%, transparent 21%),
		radial-gradient(circle at top 15% left 30%, yellow, yellow 8%, transparent 9%),
		radial-gradient(circle at top 15% left 30%, yellow, yellow 2%, transparent 20%),
		linear-gradient(to top, skyblue, skyblue 50%, cornflowerblue
	);
}
.theme.earth {
	background: radial-gradient(
		200% 60% at bottom -5% left 50%, navy, navy 25%, skyblue 40%, transparent 55%),
		linear-gradient(black, black);
}
.theme.sunset {
	background: linear-gradient(to top, black 10%, transparent 11%),
		linear-gradient(to top, rgb(255,10,50), darkorange, skyblue, rgb(0,0,20));
}
.theme.merica {
	background: linear-gradient(45deg, rgb(0,0,40) 45%, transparent 45.1%),
		repeating-linear-gradient(to right, red 0%, red 7.7%, white 7.8%, white 15.5%);
}
.theme.rainbow {
	background: linear-gradient(45deg,
					red 0%, red 14%,
					orange 14.1%, orange 28.1%,
					yellow 28.2%, yellow 42.2%,
					green 42.3%, green 56.3%,
					blue 56.4%, blue 70.4%,
					indigo 70.5%, indigo 84.5%,
					violet 85.5%);
}
.theme.basketball {
	background: linear-gradient(to top right, darkorange 5%, transparent 20%),
		radial-gradient(circle at 50% 50%, transparent 50%, black 50.1%),
		radial-gradient(circle at 50% -100%, transparent 38.9%, black 39%, black 41%, transparent 41.1%),
		radial-gradient(circle at 50% 200%, transparent 38.9%, black 39%, black 41%, transparent 41.1%),
		linear-gradient(to right, transparent 48.9%, black 49%, black 51%, transparent 51.1%),
		linear-gradient(to bottom, transparent 46.9%, black 47%, black 53%, transparent 53.1%),
		radial-gradient(circle at 50% 50%, darkorange 50%, transparent 50.1%);
}

#bgdiv {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#keyboardcontrols {
	width: 90%;
	margin: 0 auto;
}

#about {
	margin: 0 auto;
	width: 85%;
}

kbd {
	padding-left: 5px;
	padding-right: 3px;
	background-color: white;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
	color: black;
}












