:root {
	--board-margin: 3vmin;
}

body {
	font-family: sans-serif;
	background-color: white;
	color: black;
	position: relative;
	user-select: none;
}

#container {
	width: calc(100vmax - var(--board-margin) * 2);
	height: calc(100vmin - var(--board-margin) * 2);
	margin: var(--board-margin) var(--board-margin);
	outline: 5px solid black;
	border-collapse: collapse;
	table-layout: fixed;
	/* background:  */
		/* url('snow.svg'), */
		/* url('snowy_landscape.svg') */
	/* ; */
	/* background-repeat: no-repeat; */
}

.bingoletter {
	font-weight: 800;
	font-size: 8vmin;
	text-align: center;
	border-left: 1px solid black;
	border-right: 1px solid black;
	vertical-align: middle;
	line-height: 0;
	height: 13vmin;
}
.bingonumber {
	/* font-weight: bold; */
	font-size: 4.8vmin;
	/* height: 5.2vmin; */
	text-align: center;
	border: 1px solid black;
	vertical-align: middle;
	line-height: 0;
}

#controls-column{
	text-align: center;
	width: 25%;
}

#controls-frame {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#table-recent-calls {
	display: table;
	position: relative;
	max-height: 40vmin;
	flex-grow: 1;
	border-collapse: collapse;
	table-layout: fixed;
	empty-cells: show;
}

#table-recent-calls div {
	max-height: 20%;
}


.recent-row {
	display: table-row;
}

.recent-call {
	display: table-cell;
	/* outline: 1px solid lightblue; */
	vertical-align: middle;
	font-weight: bold;
	color: gray;
}

#recent1 {font-size: 9vmin; opacity: 90%;}
#recent2 {font-size: 8vmin;  opacity: 80%;}
#recent3 {font-size: 7vmin;  opacity: 70%;}
#recent4 {font-size: 6vmin;  opacity: 60%;}
#recent5 {font-size: 5vmin;  opacity: 50%;}

#label-last-called, #signature {
	font: italic 2.5vmin sans-serif;
}

#call-display {
	color: navy;
	font: 900 14vmin sans-serif;
	white-space: nowrap;
	border-bottom: 2px solid lightblue;

	flex-shrink: 1;
}

#button-box {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#signature {
	border-top: 1px solid black;
	text-align: center;
	user-select: none;
}

#newcall-button {
	font: bold 4vmin sans-serif;
	width: 100%;
	padding: 5vmin;
}

#other-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	flex-grow: 1;
	width: 100%;
	font-size: 3vmin;
}
#other-buttons button {
	flex-grow: 1;
	font-size: 2.5vmin;
}

#new-game-dialog, #options, #color-options {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255, 95%);
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* #options {display: flex;} */


.options-text,
#options button,
#color-options button,
#options label {
	font-size: 4vmin;
	color: black;
	font-weight: bold;
	margin: 0.5vmin;
	padding: 0 5vmin;
}
.options-text {
	font-style: italic;
	text-decoration: underline;
	/* flex-grow: 1; */
}

/* Adds height to the button */
#options button, #color-options button {
	padding: 3vmin;
	border: 5px solid black;
}

#color-options label {
	font-size: 5vmin;
	font-weight: bold;
	padding: 0 3vmin;
	color: rgb(100,100,100);
}

input {
	vertical-align: middle;
	margin: 2vmin;
	/* transform: scale(4, 4); */
}

input[type='radio'] {
	width: 4vmin;
	height: 4vmin;
}
input[type='checkbox'] {
	width: 6vmin;
	height: 6vmin;
}
input[type='color'] {
	width: 10vmin;
	height: 5vmin;
}

#new-game-dialog button {
	margin: 3vmin 3vmin;
	padding: 3vmin;
	font-size: 5vmin;
	font-weight: bold;
	border: 5px solid black;
}

@media (aspect-ratio: 4/3) {
	#call-display {
		font: 900 11vmin sans-serif;
	}
}











