body {
	background-color: #e6d5a0;
	font-family: sans-serif;
	color: black;
}
a:link {color: darkblue;}
a:visited {color: darkblue;}

#container-all {
	display: grid;
}

/* height = width * (1 / aspect-ratio) */
#container-display {
	margin: 0 auto;
	aspect-ratio: 400 / 309;
	/* max-width: 1000px; */
	/* max-height: 750px; */
	font-family: sans-serif;
	/* object-fit: contain; */
}
#container-image {
	position: relative;
	margin: 0 auto;
	background-color: white;
	border: 1px solid black;
	aspect-ratio: 4 / 3;
	/* max-width:1000px; */
	object-fit: contain;
}
#mainimg, #bgimage {
	width:100%;
	position: absolute;
	top: 0%;
	left: 0%;
}

@media (orientation: landscape) {
	#container-all {
		grid-template-columns: 7fr 3fr;
		align-items: center;
	}
	#container-display {
		grid-row: 1;
		grid-column: 1;
		width: min(100%, calc(90vmin * 4 / 3));
		/* height: 90vmin; */
	}
	#container-controls-products {
		grid-row: 1;
		grid-column: 2;
		margin: 0 0.5em;
	}
	#controls, #products {
		width: 100%;
		height: calc(90vmin / 2);
	}
}
@media (orientation: portrait) {
	#container-display {
		grid-row: 1;
	}
	#container-controls-products {
		grid-row: 2;
	}
}

#container-display-footer, #container-display-current-time {
	white-space: nowrap;
	overflow-x: hidden;
	text-align: center;
}
#datedisplay {
	font-weight: bold;
}
#current-time {
	font-style: italic;
}

#product-description {
	font-style: italic;
}
#current-time {
	font-family: Courier;
}

#modern-backdrop {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	display: none;
}

#missing {
	position: absolute;
	display: none;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	opacity: 50%;
}

.heading {
	text-align: center;
	text-decoration: underline;
}

#controls {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	border-bottom: 1px solid black;
}
.flex-row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}
#controls button {
	flex-grow: 1;
}

#gotodate {
	width: 100%;
	height: 80%;
}

#products {
	user-select: none;
}
#products option:hover {
	background: lightblue;
}
#products option:checked {
	font-weight: bold;
}

.hrmove {
	position: absolute;
	top: 0%;
	width: 50%;
	height: 100%;
	opacity: 30%;
}
.hrmove:active {
	opacity: 30%;
	background-color: yellow;
}
.hrmove.left {left: 0%;}
.hrmove.right {left: 50%;}

.products-category {
	background-color: #CCBC8E;
}
.products-product {
	background-color: #FFF2CC;
}

#description {
	margin: 0 auto;
	width: 90%;
	max-width: 1200px;
}
#selection-link {display: none;}

/* Email color correct */
#c_email {
	color: blue;
}

kbd {
	font-family: sans-serif;
	border: 1px solid black;
	padding-left: 7px;
	padding-right: 3px;
	background: linear-gradient(to top, lightgray 15%, transparent 20%),
		linear-gradient(to right, lightgray 10%, transparent 15%),
		linear-gradient(white,white);
}

code {
	background-color: rgba(0,0,0,15%);
}













