body {
	background-color: #141414;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

kbd {
	background-color: darkslategray;
	border-radius: 4px 4px;
	padding: 0 4px;
}

.download_link {
	font-size: 2em;
	font-weight: bold;
}
#intro-screenshot {
	vertical-align: middle;
	object-fit: none;
}
.information {
	width: 85%;
}
#interactive-example {
	position: relative;
	width: 686px;
	height: 461px;
}
#example {
	vertical-align: middle;
	object-fit: none;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
}
#products {
	position: absolute;
	bottom: 18%;
	left: 2%;
	width: 660px;
	height: 200px;
}
figcaption {
	font-style: italic;
	font-size: 0.9em;
	text-align: center;
}