#diceboard {
	display: flex;
	align-items: stretch;
	justify-content: center;
	margin: 0 auto;
	flex-direction: row;
	/* border: 1px solid white; */
	width: 75vmax;
	aspect-ratio: 2 / 1;
}
.DICE {
	flex-grow: 1;
	margin: 1% 1%;
	flex-shrink: 0;
	position: relative;
	background-color: white;
	color: black;
	border-radius: 10%;
	cursor: pointer;
}
.CIRCLE {
	position: absolute;
	background-color: black;
	transform: translate(-50%,-50%);
	width: 20%;
	height: 20%;
	border-radius: 50%;
}
#rollcountcontainer {
	font-size: 1.2em;
	display: block;
	width: 80%;
	margin: 0 auto;
	text-align:center;
}
.ROLLCOUNT {
	color: yellow;
	font-size: 1.8em;
	font-weight: bold;
	margin: 0 10px;
}
#controls, #instructions {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2em;
}
#instructions {
	width: 80%;
	margin: 5px auto;
	text-align: center;
	font-size: 0.9em;
}
#desc {
	width:90%;
	font-size: 1em;
	display: block;
	margin: 0 auto;
	text-align: justify;
}


/* Phone - Portrait */
@media (orientation: portrait) {
	#diceboard {
		flex-direction: column;
		width: calc(75vmax / 2);
		aspect-ratio: 1 / 2;
	}
}